#page-details {
  .titles {
    a {
      color: #fff;
      text-decoration-line: none;
    }
  }
  .descriptions {
    span {
      color: #fff;
      font-size: 1.3rem;
      font-family: 'Times New Roman', Times, serif;
    }
  }
}