#header {
  width: 100%;
  padding: 24px;
  background: #121212;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 50px;
}
.items {
  margin-left: auto;
}
.items {
  ul {
    
    
    li {
      list-style-type: none;
      display: inline;
      a {
        margin-left: 30px;
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        padding-bottom: 5px;
        border-bottom: 2px solid #fff;
      }
    }
    
  }
  
}
.items a:hover {
  border-bottom: 2px solid  #fff;
}

#btn-mobile {
  display: none;
}

/* @media (max-width: 768px) {
  #btn-mobile{
    display: block;
  }
  #menu li a {
    display: none;
  }
  
} */