#home {
  padding: 150px;
  background-color: #1a0836;
  display: grid;

  .firstPage {
    h2 {
      color: #ffffff;
      font-size: 35px;
      padding-top: 50px;
      text-align: center;
      text-transform: uppercase;
    } 

    hr {
      max-width: 35%;
      margin: 0 auto;
    }

    p {
      color: #b6b6b6;
      text-align: center;
      margin-top: 5px;
    }
  }
}

.continent {
  p {
    position: absolute;
  }

  img {
    width: 540px;
    height: 540px;
  }
}
.content {
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 1120px;
  display: flex;
  color: #fff;
  align-items: center;
  margin: 15px;
  background: #343434;
  border-radius: 20px;
  .text-content {
    padding-left: 15px;

    p {
      align-items: stretch;
      text-align: end;
      font-weight: normal;
      font-size: 14px;
      color: #737380;
      margin-top: 16px;
      padding-right: 15px;
    }
    a {
      text-decoration-line: none;
      color: #b6b6b6;
      &:hover {
        text-decoration-line: underline;
      }
    }
  }
  .img-content {
    padding: 15px;
    background: #343434;
    img {
      border-radius: 10px;
    }
    .img-content .left {
      border-radius: 20px;
    }
    
  }
}

[data-anime] {
  opacity: 0;
  transition: .3s;
}
[data-anime="left"] {
  transform: translate3d(-50px, 0, 0)
}
[data-anime="right"] {
  transform: translate3d(-50px, 0, 0)
}
[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px)
}
@media (max-width: 768px) {
  img {
    width: 300px;
    max-width: 460px;
  }
}
@media (max-width: 750px) {
  .content {
    padding: 20px;
    display: block;
    h3 {
      font-weight: normal;
    }
    img {
      float: right;
    }
  }
}
@media (max-width: 705px) {
  .title h2 {
    font-size: 25px !important;
  }
}
@media (max-width: 590px) {
  .text-content {
    Link {
      text-align: right;
    }
  }
  .img-content {
    display: none;
  } 
}
@media (max-width: 462px) {
  #home {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 320px) {
  .firstPage {
    
    h2 {
      text-align: center;
    }
  }
}
